* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 12px;
  background-color: whitesmoke;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  background-color: teal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.5s, color 0.5s;
  color: teal;
}

a {
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: white;
  background-color: teal;
  opacity: 0.6;
}

.titulo {
  animation: 1s ease 1s animacaoTitulo;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }

  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title,
.site-subtitle {
  text-align: center;
  color: whitesmoke;
}

.site-title {
  font-size: 3em;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.8em;
}

.portfolio {
  padding: 1.8em;
  min-height: 100vh;
}

.contato h2,
.portfolio h2 {
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.portfolio figcaption {
  color: teal;
}

.contato h2,
.portfolio h2 {
  line-height: 1.8em;
  font-size: 2em;
  color: teal;
}

.img-portfolio {
  width: 240px;
  height: 180px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(2deg);
}

.contato {
  padding: 1.8em;
  height: 300px;
  background-color: teal;
}

.contato h2,
.contato a {
  color: whitesmoke;
}

.contato a {
  font-size: 3em;
  transition: text-shadow 500ms;
}

.contato a:hover,
.contato a:active {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.contato .icons {
  text-align: center;
}
